In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
#import seaborn as sns
import os
os.chdir('C:\\Users\\vamsi-p\\WorkDrive\\Development\\Development\\AugustusLibrary\\Working\\ds_data_big\\ds_data')
from sklearn.feature_selection import VarianceThreshold

In [58]:
pd.options.display.max_columns=None
pd.options.display.max_rows=None
hp=pd.read_csv('data_train.csv')
hp_origina=hp
hp.head()
hp.columns

Index([u'id', u'num1', u'num2', u'num3', u'num4', u'num5', u'num6', u'num7',
       u'num8', u'num9', u'num10', u'num11', u'num12', u'num13', u'num14',
       u'num15', u'num16', u'num17', u'num18', u'num19', u'num20', u'num21',
       u'num22', u'num23', u'der1', u'der2', u'der3', u'der4', u'der5',
       u'der6', u'der7', u'der8', u'der9', u'der10', u'der11', u'der12',
       u'der13', u'der14', u'der15', u'der16', u'der17', u'der18', u'der19',
       u'cat1', u'cat2', u'cat3', u'cat4', u'cat5', u'cat6', u'cat7', u'cat8',
       u'cat9', u'cat10', u'cat11', u'cat12', u'cat13', u'cat14', u'target'],
      dtype='object')

In [3]:
[col for col in hp.columns if hp[col].isnull().sum()>0]

['num18', 'cat6', 'cat8']

In [4]:
hpf=hp.fillna(0)

In [5]:
[col for col in hpf.columns if hpf[col].isnull().sum()>0]

[]

In [ ]:
## Function to Identify the unique value columns

In [6]:
def unique_columns(dataset):
    total_rows=dataset.shape[0]
    columns=dataset.columns
    unique_columns=[]
    for i in columns:
        if len(dataset[i].unique())==total_rows:
            unique_columns.append(i)
    return unique_columns

In [7]:
unique_column=unique_columns(hpf)

In [8]:
unique_column

['id', 'num21', 'num22']

In [9]:
hpf.drop(unique_column,axis=1,inplace=True)

In [10]:
hp_numeric=hpf.select_dtypes(include=['int64','float64'])
hp_numeric.head()

,num1,num2,num3,num4,num5,num6,num7,num8,num9,num10,num11,num12,num13,num14,num15,num16,num17,num18,num19,num20,num23,der1,der2,der3,der4,der5,der6,der7,der8,der9,der10,der11,der12,der13,der14,der15,der16,der17,der18,der19,cat1,cat2,cat3,cat4,cat5,cat6,cat7,cat8,cat9,cat10,cat11,cat12,cat13,cat14,target
0,2,5,0,1,0,0,0,0,0,0,0,11,0,1,0,0.7,0.2,0.718070,2,0.400000,3.605551,0.6,0.5,0.2,3,1,10,1,10,1,5,9,1,5,8,0,1,1,0,0,2,1,0,10,1,0.0,0,1.0,4,1,0,0,1,12,0
1,1,7,0,0,1,0,0,0,0,0,0,3,0,0,1,0.8,0.4,0.766078,3,0.316228,2.449490,0.3,0.1,0.3,2,1,9,5,8,1,7,3,1,1,9,0,1,1,0,1,1,0,0,11,1,0.0,0,0.0,11,1,1,2,1,19,0
2,5,9,0,0,1,0,0,0,0,0,0,12,1,0,0,0.0,0.0,0.000000,1,0.316228,3.316625,0.5,0.7,0.1,2,2,9,1,8,2,7,4,2,7,7,0,1,1,0,1,4,1,0,7,1,0.0,0,0.0,14,1,1,2,1,60,0
3,0,2,1,0,0,0,0,0,0,0,0,8,1,0,0,0.9,0.2,0.580948,1,0.374166,2.000000,0.6,0.9,0.1,2,4,7,1,8,4,2,2,2,4,9,0,0,0,0,0,1,0,0,7,1,0.0,0,1.0,11,1,1,3,1,104,0
4,0,0,1,0,0,0,0,0,0,0,0,9,1,0,0,0.7,0.6,0.840759,3,0.316070,2.000000,0.4,0.6,0.0,2,2,6,3,10,2,12,3,1,1,3,0,0,0,1,1,2,1,0,11,1,0.0,0,0.0,14,1,1,2,1,82,0

In [11]:
hp_categorical=hp.select_dtypes(include=['object'])
hp_categorical.head()

Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4]

In [12]:
constant=VarianceThreshold(threshold=0)
constant.fit(hp_numeric)
constant.get_support()
non_constant_numeric=hp_numeric.columns[constant.get_support()]

In [13]:
Non_constant_categorical=[i for i in hp_categorical.columns if len(hp_categorical[i].unique())!=1]

In [14]:
hp_col=list(non_constant_numeric)+list(Non_constant_categorical)
hp=hp[hp_col]

In [15]:
quasiconstant=VarianceThreshold(threshold=0.01)
quasiconstant.fit(hp_numeric)
quasiconstant.get_support()
non_quasi_constant_numeric=hp_numeric.columns[quasiconstant.get_support()]
print(non_quasi_constant_numeric)

Index([u'num1', u'num2', u'num3', u'num4', u'num5', u'num6', u'num12',
       u'num13', u'num14', u'num15', u'num16', u'num17', u'num18', u'num19',
       u'num23', u'der1', u'der2', u'der3', u'der4', u'der5', u'der6', u'der7',
       u'der8', u'der9', u'der10', u'der11', u'der12', u'der13', u'der14',
       u'der15', u'der16', u'der17', u'der18', u'der19', u'cat1', u'cat2',
       u'cat4', u'cat5', u'cat7', u'cat8', u'cat9', u'cat11', u'cat12',
       u'cat14', u'target'],
      dtype='object')

In [16]:
def quasi_constant_categorical(dataset):
    columns=dataset.columns
    cat_columns=[]
    for i in columns:
        #a=(dataset[i].value_counts()/np.float(len(dataset[i]))).sort_values(ascending=False)[:1]
        #index=(dataset[i].value_counts()/np.float(len(dataset[i]))).sort_values(ascending=False)[:1].index
        if list((hp_categorical[i].value_counts()/np.float(len(hp_categorical[i]))).sort_values(ascending=False)[:1])[0]<=0.95:
            cat_columns.append(i) 
    return cat_columns

In [17]:
non_quasi_constant_categorical=quasi_constant_categorical(hp_categorical)
final_non_quasi_constant=non_quasi_constant_categorical+list(non_quasi_constant_numeric)
hpf=hpf[final_non_quasi_constant]

In [18]:
def correlation(dataset,threshold):
    cor_mat=dataset.corr()
    correlated_variables=set()
    for i in range(len(cor_mat.columns)):
        for j in range(i):
            if abs(cor_mat.iloc[i,j])>threshold:
                colname=cor_mat.columns[i]
                correlated_variables.add(colname)
    return correlated_variables

In [19]:
y=hp['target']
hp_numeric.drop('target',axis=1, inplace=True)

In [20]:
correlated_variables=correlation(hp_numeric,0.70)
correlated_variables
hp_numeric.drop(labels=correlated_variables,axis=1,inplace=True)
hp_numeric.head(3)

,num1,num2,num3,num4,num5,num6,num7,num8,num9,num10,num11,num12,num13,num14,num16,num17,num19,num20,der1,der2,der3,der4,der5,der6,der7,der8,der9,der10,der11,der12,der13,der14,der15,der16,der17,der18,der19,cat2,cat3,cat4,cat5,cat6,cat7,cat8,cat9,cat10,cat11,cat12,cat13,cat14
0,2,5,0,1,0,0,0,0,0,0,0,11,0,1,0.7,0.2,2,0.400000,0.6,0.5,0.2,3,1,10,1,10,1,5,9,1,5,8,0,1,1,0,0,1,0,10,1,0.0,0,1.0,4,1,0,0,1,12
1,1,7,0,0,1,0,0,0,0,0,0,3,0,0,0.8,0.4,3,0.316228,0.3,0.1,0.3,2,1,9,5,8,1,7,3,1,1,9,0,1,1,0,1,0,0,11,1,0.0,0,0.0,11,1,1,2,1,19
2,5,9,0,0,1,0,0,0,0,0,0,12,1,0,0.0,0.0,1,0.316228,0.5,0.7,0.1,2,2,9,1,8,2,7,4,2,7,7,0,1,1,0,1,1,0,7,1,0.0,0,0.0,14,1,1,2,1,60

In [22]:
Y=y.sample()

In [23]:
X=hp_numeric.sample()

In [24]:
len(X),len(Y)

(1, 1)

In [25]:
from sklearn import svm
clf = svm.SVC()

In [26]:
clf.fit(hp_numeric,y)

SVC(C=1.0, cache_size=200, class_weight=None, coef0=0.0,
  decision_function_shape=None, degree=3, gamma='auto', kernel='rbf',
  max_iter=-1, probability=False, random_state=None, shrinking=True,
  tol=0.001, verbose=False)

In [37]:
hpTest=pd.read_csv('data_test.csv')

In [38]:
hpftest=hpTest.fillna(0)

In [39]:
hpftest.drop(unique_column,axis=1,inplace=True)

In [40]:
hpftest.drop(labels=correlated_variables,axis=1,inplace=True)

In [41]:
result=clf.predict(hpftest)

In [66]:
resultDF=pd.DataFrame(result,columns=['Score'])
len(resultDF)

892816

In [68]:
resultDF.to_csv("output1.csv",index_label='id')